<body id="page-top">
    <div id="wrapper">
        <!--=================================================-->
        {{> staff/subHeader}}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                {{> staff/topBar}}
                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0  text-gray-800"> {{Staff.fullName}} Profile</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/staff/list_all_requests">{{Staff.name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a
                                    href="/staff/get_all_information">Profile</a> </li>

                        </ol>
                    </div>

                    <div class="row mb-3">

                        <!-- Modal Logout -->
                        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to logout?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary"
                                            data-dismiss="modal">Cancel</button>
                                        <a href="/logout" class="btn btn-primary">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!---Container Fluid-->




                    <div class="row">
                        <div class="col-lg-6 ">
                            <!-- Form Basic -->
                            <div class="card mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"> <a
                                            href="/staff/update_information/{{Staff._id}}" class="btn btn-primary mb-1"
                                            value="{{_id}}">Update Profile</a></h6>
                                </div>
                                <div class="card-body">
                                    <form enctype="application/x-www-form-urlencoded">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Username</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="{{Staff.account_id.username}}"
                                                name="username" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="{{Staff.account_id.password}}" name="password" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlReadonly">Role</label>
                                            <input class="form-control" type="text" placeholder="Staff"
                                                id="exampleFormControlReadonly" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="{{Staff.name}}" name="name"
                                                readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="{{Staff.email}}" name="email"
                                                readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Full Name</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="{{Staff.fullName}}"
                                                name="fullName" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Phone Number</label>
                                            <input type="number" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="{{Staff.phoneNumber}}"
                                                name="phoneNumber" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Age</label>
                                            <input type="number" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="{{Staff.age}}" name="age"
                                                readonly>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Form Basic -->
                            <div class="card mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group" id="simple-date3">
                                        <label for="decadeView">Day Of Birth</label>
                                        <input type="text" class="form-control" name="dayOfBirth"
                                            value="{{moment Staff.dayOfBirth format =" MMMM DD - YYYY"}}"
                                            id="decadeView" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Business Units</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="{{Staff.businessUnit_id.name}}"
                                            name="username" readonly>
                                    </div>
                                    <div class="form-group">
                                        <img class="card-img-top"
                                            style="display: block;margin-left: auto;margin-right: auto;width: 300px;height: 250px;"
                                            src="/avatar/{{Staff.avatar}}" alt="image cap">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


</body>